{% extends "base.html" %}
{% block content %}

<div class="topbar">
  <h1>Produtos</h1>
</div>

<div class="row">
  <div class="col card">
    <h1 style="font-size:16px; margin:0 0 10px 0;">Cadastrar produto</h1>
    <form method="post" action="/products/create">
      <label>Nome</label>
      <input class="input" name="name" required>

      <div class="row" style="margin-top:10px;">
        <div class="col">
          <label>Preço</label>
          <input class="input" name="price" type="number" step="0.01" value="0">
        </div>
        <div class="col">
          <label>Estoque</label>
          <input class="input" name="stock" type="number" step="1" value="0">
        </div>
      </div>

      <div style="margin-top:12px;">
        <button class="btn primary full" type="submit">Salvar</button>
      </div>
    </form>
  </div>

  <div class="col card" style="flex:2;">
    <h1 style="font-size:16px; margin:0 0 10px 0;">Lista</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th><th>Preço</th><th>Estoque</th>
        </tr>
      </thead>
      <tbody>
      {% for p in products %}
        <tr>
          <td>{{ p.name }}</td>
          <td>R$ {{ "%.2f"|format(p.price) }}</td>
          <td>
            {% if p.stock <= 3 %}
              <span class="badge warn">{{ p.stock }}</span>
            {% else %}
              <span class="badge ok">{{ p.stock }}</span>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr><td colspan="3" class="muted">Sem produtos cadastrados.</td></tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}