{% extends "base.html" %}
{% block content %}
<h3>Resetar senha (Admin)</h3>

<div class="card shadow-sm">
  <div class="card-body">
    <form method="post" action="/admin/reset_password">
      <div class="mb-2">
        <label class="form-label">Nome da Loja</label>
        <input class="form-control" name="store_name" required>
      </div>

      <div class="mb-2">
        <label class="form-label">Usuário</label>
        <input class="form-control" name="username" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Nova Senha</label>
        <input class="form-control" name="new_password" type="password" required>
      </div>

      <button class="btn btn-warning w-100">Resetar Senha</button>
    </form>
  </div>
</div>
{% endblock %}