{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-2">
  <h3>Vendas</h3>
  <a class="btn btn-warning" href="/sales/new">Nova venda</a>
</div>

<div class="card shadow-sm">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm align-middle">
        <thead>
          <tr><th>ID</th><th>Data</th><th>Cliente</th><th>Pagamento</th><th>Total</th><th></th></tr>
        </thead>
        <tbody>
        {% for s in sales %}
          <tr>
            <td>{{ s.id }}</td>
            <td>{{ s.created_at.strftime("%d/%m/%Y %H:%M") }}</td>
            <td>{{ s.customer_name }}</td>
            <td>{{ s.payment_method }}</td>
            <td>R$ {{ "%.2f"|format(s.total) }}</td>
            <td><a class="btn btn-sm btn-outline-primary" href="/sales/{{s.id}}">Ver</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}